---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello Friend!</h1>
      <p>The future website for your weekly devotionals.</p>
      <p>
        Things to consider are:
        <ul>
          <li>
            What kind of color scheme do I want? <a
              href="https://coolors.co/generate">Try this tool for ideas.</a
            >
          </li>
          <li>
            Which font should I pick? <a href="https://fonts.google.com/"
              >Google Fonts</a
            > has a great collection of free fonts.
          </li>
          <li>Should my website support dark / light mode?</li>
          <li>What kind of logo or icon do I want to represent my website?</li>
          <li>
            Do I want a contact form? Or a form to subscribe to my email list?
          </li>
          <li>
            Do I want people to be able to find this website through search
            engines like Google?
          </li>
        </ul>
      </p>
    </main>
    <p>Have fun!</p>
    <Footer />
  </body>
</html>
