---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Spinner from "../components/Spinner.astro";
import MailingList from "../components/MailingList.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello!</h1>
      <p>Have fun!</p>
      <MailingList />
    </main>
    <Footer />
  </body>
</html>
<style>
  main {
    min-height: 100vh;
  }
</style>
