---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const t = import.meta.env.TEST_SECRET;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.min.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>Admin Panel</h1>
      <!-- Create the editor container -->
      <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
      </div>

      <button id="submit" type="button">Get Contents {t}</button>
    </main>
    <Footer />
  </body>
</html>
<!-- Initialize Quill editor -->
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    // @ts-expect-error Quill is not defined
    const quill = new Quill("#editor", {
      theme: "snow",
      modules: {
        toolbar: [
          ["bold", "italic", "underline"],
          ["link"],
          [{ list: "ordered" }, { list: "bullet" }],
        ],
      },
    });
    document
      .getElementById("submit")!
      .addEventListener("click", function (event) {
        var html = quill.root.innerHTML;
        console.log(html);
        console.log(quill.getSemanticHTML());
        console.log(quill.getContents());
      });
  });
</script>
